<div class="example-form">
    <mat-form-field class="example-full-width" appearance="fill" >
      <mat-label>Insira o subgrupo</mat-label>
      <input matInput (input)="filterInput()" [(ngModel)]="filterTerm">
    </mat-form-field>
    <button class="buttonSearch" mat-stroked-button (click)="openModal()">+</button>
</div>


<table *ngIf="subgrupo.length > 0">
  <tr>
    <td>ID</td>
    <td>Subgrupo</td>
    <td>Grupo</td>
    <td class="tdDesativar">Desativar</td>
  </tr>
    <tr *ngFor="let subgrupo of subgrupo">
      <td>{{subgrupo.id}} -  </td>
      <td class="tdDescricao"> {{subgrupo.descricao}} </td>
      <td>{{subgrupo.fkgrupo}}  </td>
      <button class="buttonDelete" mat-stroked-button >X</button>
    </tr>
</table>


<!--
<div *ngIf="subgrupos.length == 0">
  <p>Nenhum registro encontrado.</p>
</div>
-->
