@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.mat-form-field {
    display: inline-block;
    position: relative;
    width: 75%;
    padding: 20px;
}

.buttonSearch{
    float: right;
    background-color: #59B17E;
    margin-top: 21px;
    left: -215px;
    height: 52px;
    border: none;
}

.buttonDelete{
    float: left;
    margin-left: 550px;
}

table {
    border-spacing: 10px;
    padding: 20px;
    font-family: 'Bree Serif', serif;
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0.459);
    border-radius: 5px;
    width: 75%;
    margin-left: 20px;
}

.tdDesativar{
    text-align: end;
}
